﻿@model List<BlogApp.Models.Makale>
@{
    ViewBag.Title = "MakaleListesi";
    Layout = "~/Views/Shared/_LayoutCms.cshtml";
}

<div id="page-wrapper">
    <div class="row">
        <div class="row">
         
            
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                       Makale Listesi
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Makale Başlık</th>
                                        <th>Eklenme Tarihi</th>
                                        <th>İşlem</th>
                                    </tr>
                                </thead>
                                <tbody>
                                @foreach (var liste in Model)
                                {
                                    <tr class="success">
                                        <td>@liste.MakaleId</td>
                                        <td>@liste.MakaleBaslik</td>
                                        <td>@liste.EklenmeTarihi</td>
                                        <td>
                                            <a href="@Url.Action("MakaleGit","Cms",new {  Id = liste.MakaleId})" class="btn btn-default btn-sm">Düzenle</a>
                                            <a href="/Cms/MakaleSil/@liste.MakaleId" class="btn btn-danger">Sil</a>
                                        </td>

                                    </tr>
                                }

                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>

        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->

</div>