﻿@model BlogApp.Models.Makale
@{
    ViewBag.Title = "MakaleEkle";
    Layout = "~/Views/Shared/_LayoutCms.cshtml";
}

<div id="wrapper">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg12">
                <div class="panel panel-default">
                    <div class="panel-heading">

                    </div>
                    @using (Html.BeginForm("MakaleEkle", "Cms", FormMethod.Post))
                    {
                        <div class="panel-body">
                            <div class="row">

                                <div class="col-lg-10">


                                    <div class="form-group">
                                        <label>Makale Başlık</label>
                                        @Html.TextBoxFor(x => x.MakaleBaslik, new { @class = "form-control", placeholder = "Makale Başlık" })
                                    </div>

                                </div>

                                <div class="col-lg-10">


                                    <div class="form-group">
                                        <label>Makale Başlık EN</label>

                                        @Html.TextBoxFor(x => x.MakaleBaslikEn, new { @class = "form-control", placeholder = "Makale Başlık EN" })
                                    </div>

                                </div>
                                <div class="col-lg-10">


                                    <div class="form-group">
                                        <label>Makale Özet</label>
                                        @Html.TextBoxFor(x => x.MakaleOzet, new { @class = "form-control", placeholder = "Makale Özet" })

                                    </div>

                                </div>



                                <div class="col-lg-10">


                                    <div class="form-group">
                                        <label>Makale Özet EN</label>

                                        @Html.TextBoxFor(x => x.MakaleOzetEn, new { @class = "form-control", placeholder = "Makale Özet EN" })

                                    </div>

                                </div>


                                <div class="col-lg-10">


                                    <div class="form-group">
                                        <label>Makale Detay</label>
                                        @Html.TextAreaFor(x => x.MakaleDetay, new { name = "htmlEditor", id = "htmlEditor", cols = "30", rows = "10", style = "height: 350px", placeholder = "Makale Oluşturun..." })

                                    </div>

                                </div>





                                <div class="col-lg-10">


                                    <div class="form-group">
                                        <label>Makale Detay EN</label>
                                        @Html.TextAreaFor(x => x.MakaleDetayEn, new { name = "htmlEditorEn", id = "htmlEditorEn", cols = "30", rows = "10", style = "height: 350px", placeholder = "İngilizce Makale Oluşturun..." })

                                    </div>

                                </div>


                            </div>

                        </div>

                        <br /><br /><br /><br /><br /><br />

                        <input type="submit" class="btn btn-success" value="Kaydet" />
                        @Html.ActionLink("Geri", "MakaleListesi", "Cms", new { @class = "btn btn-danger" })
                    }

                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/Cms/summernote/jquery.min.js"></script>
<script src="~/Content/Cms/summernote/summernote.min.js"></script>

<script type="text/javascript">
    $(function () {


        // WYSIWYG
        $('#htmlEditor').summernote({ height: 300 });
        $('#htmlEditorEn').summernote({ height: 300 });

    })
</script>


