﻿@model BlogApp.Models.Kullanici

@{
    ViewBag.Title = "Kullanıcı Giriş";
    Layout = "";
}

<link href="~/Content/Cms/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- MetisMenu CSS -->
<link href="~/Content/Cms/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="~/Content/Cms/dist/css/sb-admin-2.css" rel="stylesheet">

<!-- Custom Fonts -->
<link href="~/Content/Cms/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">


<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Lütfen Giriş Yapınız</h3>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm("Index", "Login", FormMethod.Post))
                    {
                        <fieldset>
                            <div class="form-group">

                                @Html.TextBoxFor(x => x.Email, new { @class = "form-control", placeholder = "E-mail", name = "email", type = "email", autofocus = "" })

                            </div>
                            <div class="form-group">


                                @Html.TextBoxFor(x => x.Sifre, new { @class = "form-control", placeholder = "Password", name = "sifre", type = "password", value = "" })
                            </div>

                            <!-- Change this to a button or input when using this as a form -->
                            <input type="submit" class="btn btn-lg btn-success btn-block" value="Giriş Yap"/>
                        </fieldset>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/Content/Cms/vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="~/Content/Cms/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="~/Content/Cms/vendor/metisMenu/metisMenu.min.js"></script>

<!-- Morris Charts JavaScript -->
<script src="~/Content/Cms/vendor/raphael/raphael.min.js"></script>
<script src="~/Content/Cms/vendor/morrisjs/morris.min.js"></script>
<script src="~/Content/Cms/data/morris-data.js"></script>

<!-- Custom Theme JavaScript -->
<script src="~/Content/Cms/dist/js/sb-admin-2.js"></script>
<script src="~/Content/Cms/summernote/summernote.min.js"></script>