﻿
@model BlogApp.Models.Makale
@{
    ViewBag.Title = "ArticleDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ Html.RenderPartial("UstMenu");}

<div class="row">

    <!-- Blog Post Content Column -->
    <div class="col-lg-8">


        <!-- Blog Post -->
        <!-- Title -->
        <h1>@Model.MakaleBaslikEn</h1>

        <!-- Author -->


        <p>
            <span class="glyphicon glyphicon-time"></span> Eklenme Tarihi : @Model.EklenmeTarihi
        </p>



        <!-- Post Content -->
        <p class="lead">@Html.Raw(Model.MakaleDetayEn)</p>

        @if (HttpContext.Current.Session["UserInfo"] != null)
        {
            using (Html.BeginForm("ArticleDetail", "Language", FormMethod.Post))
            {
                @*<input type="hidden" name="gelenId" value="@Model.MakaleId">*@
                @Html.HiddenFor(x => x.MakaleId)
                <div class="well">
                    <h4>Commend:</h4>
                    <form role="form">



                        <div class="form-group">
                            <input type="text" name="adsoyad" class="form-control" placeholder="Full Name" />

                        </div>
                        <div class="form-group">
                            <textarea class="form-control" rows="3" name="yorumdetay" placeholder="Commend"></textarea>

                        </div>



                        <button type="submit" class="btn btn-primary">Send</button>
                    </form>
                </div>

            }
        }



        <hr>

        <!-- Posted Comments -->
        @{Html.RenderAction("Yorum", "Home");}

    </div>

    <!-- Blog Sidebar Widgets Column -->
    <div class="col-md-4">


        @{Html.RenderAction("LatestArticle");}

    </div>

</div>
