﻿
@using BlogApp.Models
@model List<BlogApp.Models.Yorum>



@foreach (var yorum in Model)
{

    <div class="media">
        <a class="pull-left" href="#">

            <img class="media-object" src="~/Content/profile.png" alt="">
        </a>
        <div class="media-body">
            <h4 class="media-heading">
                @yorum.AdSoyad
            </h4>
            @yorum.YorumDetay
        </div>
    </div>
}



