﻿@model List<BlogApp.Models.Makale>
@{
    ViewBag.Title = "English";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{ Html.RenderPartial("UstMenu");}
<div class="row">

    <!-- Blog Post Content Column -->
    <div class="col-lg-8">
        @foreach (var makale in Model)
        {

        <!-- Blog Post -->
        <!-- Title -->
            <h1><a href="~/Language/ArticleDetail/@makale.MakaleId">@makale.MakaleBaslikEn</a></h1>

        <!-- Author -->


            <p>
                <span class="glyphicon glyphicon-time"></span> Date Added : @makale.EklenmeTarihi
            </p>



            <!-- Post Content -->
            <p class="lead">@Html.Raw(makale.MakaleOzetEn)</p>

            <hr>

        }


    </div>

    <!-- Blog Sidebar Widgets Column -->
    <div class="col-md-4">

        @{ Html.RenderAction("LatestArticle");}



    </div>

</div>




