﻿@model List<BlogApp.Models.Makale>
<div class="well">
    <h4>Latest Article</h4>
    <div class="row">
        <div class="col-lg-6">
            <ul class="list-unstyled">
                @foreach (var baslik in Model)
                {
                    <li>
                        <a href="~/Language/ArticleDetail/@baslik.MakaleId">@baslik.MakaleBaslikEn</a>
                    </li>
                }
            </ul>
        </div>

    </div>
    <!-- /.row -->
</div>