﻿
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@Url.Action("Index","Language")">MyBlog</a>

            @if (HttpContext.Current.Session["UserInfo"] != null)
            {
                var kullanici = HttpContext.Current.Session["UserInfo"] as BlogApp.Models.Kullanici;
                if (kullanici.KullaniciId == 2)
                {
                    <a class="navbar-brand" href="@Url.Action("Index","Cms")">Management Panel</a>
                }
                <a class="navbar-brand" href="@Url.Action("LogOff","Login")">Log Off</a>
                <a class="navbar-brand" href="@Url.Action("Index","Home")">TR</a>
                <a class="navbar-brand" href="@Url.Action("Index","Language")">EN</a>

            }
            else
            {
                <a class="navbar-brand" href="@Url.Action("Index","Login")">Sign in</a>
                <a class="navbar-brand" href="@Url.Action("KayitOl","Login")">Sign up</a>
                <a class="navbar-brand" href="@Url.Action("Index","Home")">TR</a>
                <a class="navbar-brand" href="@Url.Action("Index","Language")">EN</a>
            }

        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
