﻿@model List<BlogApp.Models.Makale>
@{
    ViewBag.Title = "Türkçe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ Html.RenderPartial("UstMenu");}

<div class="row">
    
    <!-- Blog Post Content Column -->
    <div class="col-lg-8">
        @foreach (var makale in Model)
        {
            
        <!-- Blog Post -->
        <!-- Title -->
            <h1><a href="~/Home/MakaleDetay/@makale.MakaleId">@makale.MakaleBaslik</a></h1>

        <!-- Author -->


            <p>
                <span class="glyphicon glyphicon-time"></span> Eklenme Tarihi : @makale.EklenmeTarihi
            </p>



            <!-- Post Content -->
            <p class="lead">@Html.Raw(makale.MakaleOzet)</p>

            <hr>

        }


    </div>

    <!-- Blog Sidebar Widgets Column -->
    <div class="col-md-4">

        @{ Html.RenderAction("SonMakale");}



    </div>

</div>
