﻿@model List<BlogApp.Models.Makale>
<div class="well">
    <h4>Son Makaleler</h4>
    <div class="row">
        <div class="col-lg-6">
            <ul class="list-unstyled">
                @foreach (var baslik in Model)
                {
                    <li>
                        <a href="~/Home/MakaleDetay/@baslik.MakaleId">@baslik.MakaleBaslik</a>
                    </li>
                }
            </ul>
        </div>

    </div>
    <!-- /.row -->
</div>